<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1024759917605-dqs9adkkf8l1s5qp3beogt89dd7pa779.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1024759917605-dqs9adkkf8l1s5qp3beogt89dd7pa779</string>
	<key>API_KEY</key>
	<string>AIzaSyAMRc6VuUPp8IDV_FuVn03zuVZCya3nCaI</string>
	<key>GCM_SENDER_ID</key>
	<string>1024759917605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firebase</string>
	<key>PROJECT_ID</key>
	<string>cesi-ios-app</string>
	<key>STORAGE_BUCKET</key>
	<string>cesi-ios-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1024759917605:ios:7657643b809e53e5a7e3cc</string>
	<key>DATABASE_URL</key>
	<string>https://cesi-ios-app.firebaseio.com</string>
</dict>
</plist>